{% extends "base.html" %}
{% block body %}

<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home">
	<div id="headerwrap">
		<div class="container-fluid">
			<div class="row-fluid">
				<h1>Wake Your Inner Jedi Up!</h1>
				<br>
				<h3>Let the force work for you</h3>
				<br>
				<br>
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
</section>



<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about">
    <div id="f">
    	<div class="container-fluid">
    		<div class="row-fluid">
    			<h3>ABOUT ME</h3>
    			<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

    			<!-- INTRO INFORMATIO-->
    			<div class="col-lg-6 col-lg-offset-3">
    				<p></p>
    				<p><button type="button" class="btn btn-warning"></button></p>
    			</div>
    		</div>
    	</div><!-- /container -->
    </div><!-- /f -->
</section>

<!-- ========== CAROUSEL SECTION ========== -->
<section id="portfolio" name="portfolio">
    <div id="f">
    	<div class="container-fluid">
    		<div class="row-fluid centered">
    			<h3>SOME PROJECTS</h3>
    			<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

    			<div class="col-lg-6 col-lg-offset-3">
    				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    					<!-- Wrapper for slides -->
    					<div class="carousel-inner">
    						<div class="item active centered">
    							<img class="img-responsive" src="" alt="">
    						</div>
    						<div class="item centered">
    							<img class="img-responsive" src="" alt="">
    						</div>
    						<div class="item centered">
    							<img class="img-responsive" src="" alt="">
    						</div>
    					</div>
    					<br>
    					<br>
    					<ol class="carousel-indicators">
    					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    					</ol>
    				</div>
    			</div><!-- col-lg-8 -->
    		</div><!-- row-fluid -->
    	</div><!-- container -->
    </div>	<!-- f -->
</section>

<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact">
    <div id="f">
    	<div class="container-fluid">
    		<div class="row-fluid">
    			<h3>CONTACT ME</h3>
    			<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

    			<div class="col-lg-6 col-lg-offset-3">
    				<p><br/><br/></p>
    				<p></p>
    				<p><button type="button" class="btn btn-warning"></button></p>
    			</div>
    		</div>
    	</div>
    </div>
</section>
{% endblock %}